<%- include("templates/header") %>
    <div class="container p-5">
        <h2> Welcome admin </h2>
        <p> You are logged in
            <strong>
                <%= username %>
            </strong>
        </p>
    </div>
    
<%- include("templates/footer") %>