<%- include("templates/header") %>
  
      <div class="container p-5">
          <h2> Welcome to the Dashboard </h2>
          <p> You are logged in as 
              <strong> <%= username %> </strong>
          </p>
          <a href="/logout" class="btn btn-danger"> Logout </a>
      </div>

<%- include("templates/footer") %>