<%- include("templates/header") %>

    <div class="container">
        <h1 class="mb-3"> Welcome to the Home Page! </h1>

        <a href='/login' class="btn btn-outline-primary mb-2"> Login </a> <br>
        <a href='/signup' class="btn btn-primary"> Sign Up </a>
    </div>

<%- include("templates/footer") %>